<div data-options="dxView : { name: 'Category', title: 'Επιλέξτε κατηγορία' } " >
    <div class="navigation" data-options="dxContent : { targetPlaceholder: 'content' } " >
      <div class="content" data-bind="dxScrollView: { }">
        <div id="projectid" class="dx-fieldset">
		
		</br>
		</br>
		<div data-bind="dxButton: { text: 'Μνημεία', clickAction: mnimeia }" style="font-size:14px;width:100%;"></div>
	
		</br>
		</br>
        <div data-bind="dxButton: { text: 'Αρχαία Ήπειρος', clickAction: arxaia }" style="font-size:14px;width:100%"></div>
		
		</br>
		</br>
		<div data-bind="dxButton: { text: 'Ιστορία', clickAction: history }"  style="font-size:14px;width:100%"></div>
		
		</br>
		</br>
		<div data-bind="dxButton: { text: 'Λαογραφία', clickAction: laografia }"  style="font-size:14px;width:100%"></div>
		
		</br>
		</br>
		<div data-bind="dxButton: { text: 'Πολιτισμός', clickAction: politismos }"  style="font-size:14px;width:100%"></div>
		
		
		
        </div>    
      </div>
    
</div>
    </div>
